/* Normalize styles*/
html{ height: 100%; font: 13px/15px Arial; }
body{ margin: 0;height: 100%; }
button, input, input, select{font-family: inherit;border-radius: 0;}
table{ border-collapse: collapse; }
input, select{font-size: inherit;line-height: inherit;font: inherit;}
dialog{border:none;padding:0;}
body, html{-webkit-text-size-adjust:100%; -webkit-font-smoothing:antialiased;}

/* BASE STYLES */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.m3_middle, .m3_middle_helper { display: inline-block; vertical-align: middle; }
.m3_middle_helper { content: ""; width: 0; height: 100%; }

/*
@font-face{
	font-family: 'Hack';
	src: url('../fonts/hack-regular-webfont.eot?v=2.019');
	src: url('../fonts/hack-regular-webfont.eot?#iefix&v=2.019') format('embedded-opentype'), url('../fonts/hack-regular-webfont.woff2?v=2.019') format('woff2'), url('../fonts/hack-regular-webfont.woff?v=2.019') format('woff'), url('../fonts/hack-regular-webfont.ttf?v=2.019') format('truetype');
	font-weight: 400;
	font-style: normal;
}
*/

/*
////////////////////////////////////
// LAYOUT
////////////////////////////////////
*/
.sc_layout{
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
}
.sc_layout-top{
	-webkit-flex: 0 1 50px;
	-moz-flex: 0 1 50px;
	flex: 0 1 50px;
	/* border-bottom: 1px solid #aaa; */
	color: #555;
}
.sc_layout-top.__theme1{
	background: #007ac2;
	color: #fff;
}
.sc_layout-mid{
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
}
.sc_layout-foot{
	-webkit-flex: 0 1 50px;
	-moz-flex: 0 1 50px;
	flex: 0 1 50px;
	border-top: 1px solid #aaa;
}
.sc_layout-tools{
	position: relative;
	-webkit-flex: 0 1 50px;
	-moz-flex: 0 1 50px;
	flex: 0 1 50px;
	background-color: #eee;

}
.sc_layout-left {
	position: relative;
	-webkit-flex: 0 1 240px;
	-moz-flex: 0 1 240px;
	flex: 0 1 240px;
	width: 240px;
	background-color: #f5f5f5;
}
.sc_layout-right {
	display: flex;
	position: relative;
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	flex: 1 1 auto;
}
/*
////////////////////////////////////
// NAVIGATION MENU
////////////////////////////////////
*/
.sc_nav-tab{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
	padding: 5px 19px 5px 20px;
	width: 200px;
	font-size: 13px;
	line-height: 16px;
	height: 16px; /* dublicate size for Safari*/
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.sc_nav-tab:not(.__current):hover{
	color: #eee;
	background-color: #5d5e62;
	cursor: pointer;
}
.sc_nav-tab.__current{
	color: #eee;
	background-color: #333;
}
.sc_nav-tab_name{
	flex: 1 1 auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.sc_nav-tab_compile-btn{
	display: block;
	flex: 0 1 auto;
    line-height: 15px;
    cursor: pointer;
    color: #aaa;	
    padding: 0 2px 1px 2px;
    border-bottom: 1px solid transparent;
}
.sc_nav-tab_compile-btn:hover{
	border-bottom-color: #aaa;
}

.sc_nav-tab.__current > .sc_nav-tab_compile-btn{
	color: #fff;
}
.sc_documents-list {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border-left: 1px solid #d9d9d9;
	box-sizing: border-box;
}

/* 
////////////////////////////////////
// CODE CONTAINER 
////////////////////////////////////
*/
.sc_frame-wrap{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 26px;
}
.sc_frame-wrap > .sc_edit-header{
	top: -26px;
}
.sc_code-frame{
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
}
.sc_editwrap{
	display: flex;
	padding: 26px 0 0 0;
	line-height: 18px
}
.sc_editwrap-numspace{
	flex: 0 0 auto;
	overflow: hidden;
	padding: 0 5px 0 8px;
	font-size: 11px;
	text-align: right;
	min-width: 12px;
  border-right-style: solid;
  border-right-width: 1px;
}
.sc_editwrap-workspace{
	outline: none;
	position: relative;
	flex: 1 1 auto;
}
.sc_edit-pre{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0px;
	margin: 0;
	overflow-x: auto;
	overflow-y: scroll;
	padding: 0 0 0 2px;
	font-family: Open Sans, Menlo, Monaco, Courier New, monospace, serif;
	tab-size: 4; /* Not supported by IE*/
	counter-reset: list 0;
	z-index: 2;
	/*border-left: 1px solid #ccc;*/
}
.sc_edit-pre:focus{
	outline: 1px solid #d0d0d0;
	outline-offset: 0px;
}
.sc_edit-header{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 16px;
	background-color: #e0e2e5;
	color: #333;
	padding: 4px 40px 6px 30px;
}
.sc_edit_doctitle{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	font-size: 12px;
    line-height: 16px;
	text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-weight: normal;
}
.sc_edit-header.__active{
	background-color: #1763a4;
	color: #fff;
}
.sc_btn{
	border: none;
	cursor: pointer;
	outline: none;
}
.sc_edit-close-btn,
.sc_edit-separate-btn,
.sc_edit-reload-btn{
	padding: 0;
	line-height: 1;
	font-size: 16px;
	top: 6px;
	color: inherit;
}
.sc_edit-close-btn{
	position: absolute;
	right: 3px;
	background: transparent;
}
.sc_edit-reload-btn{
	position: absolute;
	right: 24px;
	background: transparent;
}
.sc_edit-separate-btn{
	position: absolute;
	right: 44px;
	background: transparent;
}
.sc_edit-close-btn:hover,
.sc_edit-separate-btn:hover,
.sc_edit-reload-btn:hover,
.sc_edit-close-btn:focus,
.sc_edit-separate-btn:focus,
.sc_edit-reload-btn:focus{
	color: #aaa;
}
/*
////////////////////////////////////
// SVG buttons
////////////////////////////////////
*/
.svg-btn-container{
	width: 26px;
	height: 26px;
	fill: #272930;
}
.tool-btn {
	display: inline-block;
    vertical-align: middle;
	border: none;
	outline: none;
	cursor: pointer;
	width: 100%;
	height: 26px;
	padding: 0;
	/*background-color: #d2d2d2;*/
	background-color: inherit;
}
.tool-btn:hover{
	background-color: #bfbfbf;
}

.tool-btn:disabled{
	cursor: default;
}
/*
////////////////////////////////////
// Popup styles
////////////////////////////////////
*/
.ppp_base .dwc_popup-content{
	position: relative;
	padding: 30px;
}
.ppp_base .dwc_popup-close{
	position: absolute;
	cursor: pointer;
	top: 16px;
	right: 16px;
}
.ppp_base .dwc_popup-close > .svg-btn-container{
	display: inline-block;
	vertical-align: middle;
	width: 48px;
    height: 48px;
    fill: #333;
}
.ppp_base .dwc_popup-close > .svg-btn-container:hover{
	fill: #999;
}
.ppp_base .dwc_popup-header:not(:empty){
	margin: 0 0 20px 0;
	font-size: 18px;
	line-height: 21px;
}
#svg-patterns{
	display: none;
}
/*  
////////////////////////////////////
// Grid layout
////////////////////////////////////
*/
.grid_column{
	display: flex;
	flex-direction: column;	
}
.grid_row{
	flex-direction: row;
	display: flex;
}
.grid_cell{
	position: relative;
	flex: 1  1 auto;
/*
 * This property was commented for resizing feature
	min-height: 50%;
*/

} 
.grid_cell:empty:before{
	content: "";
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
	bottom: 10px;
	right: 10px;
	border: 1px dashed #ccc;
	background: #fcfcfc;
}
.grid_cell-inner{
	position: absolute;
	left: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.test{
	height: 1000px;
	width: 10px;
	background: orange;
}
.sc_nav-tab_actions-btn{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 12px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
    line-height: 28px;
}
.sc_nav-tab_actions-btn:hover{
	background: #bbbdc3;
	color: #5d5e62;
}

.sc_nav-tab_actions-btn:hover:before{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 28px;
}
/*
////////////////////////////////////
// Project styles
////////////////////////////////////
*/
.sc_project-select{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
	height: 26px;
	border: 1px solid #e3e3e3;
	padding: 3px 22px 3px 12px;
	font: inherit;
	color: inherit;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0 16px 0 0;
}
.sc_project-select:focus{
	border-color: #898e9d;
}
.sc_project-select::-ms-expand{ /* hide arrow at <select>*/
	display: none; 
}
/*
////////////////////////////////////
// Context menu
////////////////////////////////////
*/
.sc_ctx{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background: #fff;
	border: 1px solid #e2e2e2;
	color: #333;
	font-size: 13px;
	line-height: 18px;
	white-space: nowrap;
	text-align: left;
}
.sc_ctx-item{
	padding: 4px 8px;
}
.sc_ctx-item:hover{
	background-color: #0491d3;
	color: #fff;
}
.sc_ctx-item:active{
	background-color: #0aaaf4;
}
.sc_invisible{
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	float: left;
}
.sc_virtual-link{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	border-bottom: 1px solid;
}
.sc_virtual-link:hover,
.sc_virtual-link:focus{
	border-bottom-color: transparent; 
}
.sc_virtual-link.__default{
	color: #1459dd;
}
.sc_virtual-link.__white{
	color: #fff;
}
.sc_virtual-link.__chromeless{
	background-color: transparent;
	background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    outline: none;
}

.sc_grid-type-a{
	margin: 0 0 30px 0;
}
.sc_grid-type-a td{
	padding: 8px 10px 8px 0;
}
.sc_grid-type-a .sc_input{
	padding: 2px 10px;
	border: 1px solid #aaa;
}

/*
////////////////////////////////////
// Toppanel
////////////////////////////////////
*/
/* TODO padding-left 50px if wight less 1024px*/

.sc_toppanel{
	position: relative;
	padding: 0 158px 0 calc(50px + 240px);
	margin: 10px 0 0 0;
	height: 40px;
}

.sc_toppanel_about{
	position: absolute;
	right: 20px;
	top: 6px;
	cursor: pointer;
	font-size: inherit;
	line-height: inherit;
}

.sc_toppanel_menu-label{
	position: absolute;
	right: 70px;
	top: 0;
	cursor: pointer;
	border: 1px solid #e3e3e3;
	padding: 3px 22px 3px 12px;
	font-size: 13px;
	line-height: 20px;
}
.sc_toppanel_menu-label.__active{
	border-color: #898e9d;
}
.sc_project-select,
.sc_toppanel_menu-label{
	/*background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="-16 -12 32 24"><polygon points="-16,-9 16,-9 0,12" style="fill:#aaa;"></polygon></svg>') #fff no-repeat;*/
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjMyIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSItMTYgLTEyIDMyIDI0Ij48cG9seWdvbiBwb2ludHM9Ii0xNiwtOSAxNiwtOSAwLDEyIiBzdHlsZT0iZmlsbDojYWFhOyI+PC9wb2x5Z29uPjwvc3ZnPg==) #fff no-repeat;
	background-size: 9px 8px;
	background-position: top 50% right 6px;
}
.sc_project-select:focus,
.sc_toppanel_menu-label.__active{
	/*background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="-16 -12 32 24"><polygon points="-16,9 16,9 0,-12" style="fill:#aaa;"></polygon></svg>');*/
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjMyIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSItMTYgLTEyIDMyIDI0Ij48cG9seWdvbiBwb2ludHM9Ii0xNiw5IDE2LDkgMCwtMTIiIHN0eWxlPSJmaWxsOiNhYWE7Ij48L3BvbHlnb24+PC9zdmc+');
}
.sc_toppanel_menu-list{
	position: absolute;
	right: 0;
	top: 100%;
	padding: 2px 2px;
	border: 1px solid #e2e2e2;
	background: #fff;
	z-index: 1000;
}
.sc_toppanel_menu-item{
	display: block;
	white-space: nowrap;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	cursor: pointer;
	background-color: #fff;
	border: none;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 8px;
    outline: none;
}
.sc_toppanel_menu-item:hover,
.sc_toppanel_menu-item:focus{
	background-color: #1763a4;
	color: #fff;
}
.sc_toppanel_menu-item:active{
	background-color: #1c99d2;
}
.sc_layout-top.__theme1 .sc_toppanel_menu-item:hover,
.sc_layout-top.__theme1 .sc_toppanel_menu-item:focus{
	background-color: #0491d3;
}
.sc_layout-top.__theme1 .sc_toppanel_menu-item:active{
	background-color: #0aaaf4;
}



.sc_toppanel_text{
	display: inline-block;
	vertical-align: middle;
}

.sc_toppanel_project-name{
	display: inline-block;
	vertical-align: middle;
	border: none;
    background-color: #f7f7f7;
    color: inherit;
    font-size: 15px;
    line-height: 20px;	
    outline: none;
    padding: 5px 20px 5px 30px;
    margin: 0 8px;
}
.sc_toppanel_project-name:focus{
	background-color: #ebebeb;
}
.sc_toppanel_project-name::-webkit-input-placeholder{
	color: inherit;
}
.sc_toppanel_project-name:-moz-placeholder{
	color: inherit;	
}
.sc_toppanel_project-name::-moz-placeholder{
	color: inherit;
}
.sc_toppanel_project-name:-ms-input-placeholder{
	color: inherit;
}
.sc_logo{
	position: absolute;
	left: 50px;
	top: 14px;
	width: 240px;
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	margin: 0;
	font-weight: normal;
}
.sc_project-select, 
.sc_toppanel_menu-label,
.sc_toppanel_project-name{
	color: #555;
}

/*
////////////////////////////////////
// About popup
////////////////////////////////////
*/
.about-popup{
	color: #666;
	margin: 10px 0 0 0;
}
.about-popup_hidden-content{
	margin: 10px 0 0 0;
}
.sc_header1{
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 16px 0;
}
.sc_header2{
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
	margin: 0 0 12px 0;	
	text-transform: uppercase;
	color: #333;
}
.sc_article1 {
	/*display: block;*/
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 8px 0;
}
.sc_section1{
	margin: 0 0 40px 0;
}
.sc_section2{
	margin: 0 0 12px 0;
}
.sc_section3{
	margin: 0 0 18px 0;
}
.sc_section4{
	margin: 0 0 24px 0;
}
.sc_section5{
	margin: 0 0 30px 0;
}



.sc_ul1,
.sc_ul2{
	margin: 0 0 12px 0;
}
.sc_ul1 > li,
.sc_ul2 > li{
	font-size: 13px;
	line-height: 15px;
	margin: 0 0 4px 0;
}
.sc_ul1{
	padding: 0 0 0 20px;
}
.sc_ul2{
	padding: 0px;
	list-style: none;
}
/*
////////////////////////////////////
// About popup
////////////////////////////////////
*/
.input-frame{
	display: inline-block; /* Fit to input size */
	position: relative;
	vertical-align: middle;
}
.input-frame_input{
	border: none;
	font-size: 13px;
	line-height: 20px;
	border: 1px solid #dfdfdf;
	padding: 16px 12px 4px 12px;
	width: 320px;
}
.input-frame_placeholder{
	position: absolute;
	left: 12px;
	top: 11px;
	font-size: 13px;
	line-height: 20px;
	color: #999;
}
.input-frame_input:focus{
	border-color: #ccc;
	outline: none;
}
.input-frame_input:focus + .input-frame_placeholder,
.input-frame_input.__not-empty + .input-frame_placeholder{
	top: 2px;
	font-size: 11px;
	line-height: 15px;
	color: #bbb;
}

@media (max-width:1024px){
	.sc_toppanel{
		padding-left: 50px;
	}
	.sc_logo{
		width: 50px;
		left: 0;
	}
}


/* Control list grid */
.control-list-item {
	display: block;
}
.control-list-item_control, 
.control-list-item_label {
	display: inline-block;
	vertical-align: middle;

}
.control-list-item_control {
	margin-left: 12px;
}
.control-list-item_label {

}
.sh_lines{
	position: relative;
	display: inline-block;
	white-space: nowrap; 
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}
.sh_lines:before{
	content: counter(list) ".";
	position: absolute;
	right: 100%;
	counter-increment: list;
	font-size: 11px;
	color: #bbb;
	margin: 0 4px 0 0;
	white-space: nowrap;
}
.sh_css_color-mark {
	display: inline-block;
	vertical-align: bottom;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
}

/* new colors: */
.sc_editwrap-numspace {
    color: #ccc;
    border-color: #f1f3f7;
}
.sc_edit-pre {
	--syntax-str-const: #3AA107;
	--syntax-key-word: blue;
	--syntax-comment: #afb3b9;

	--syntax-js-number: blue;
	--syntax-js-method:  #df5000;
	--syntax-js-function: orange;

	--syntax-xml-cdata: orange;

	--syntax-html-attr-name: #df5000;	
	--syntax-html-attr-line: #000;
	--syntax-html-attr-value: #3AA107;

	--syntax-css-pseudo: #9999FF;

	--syntax-markdown-hyptext: #1459dd;
	--syntax-markdown-hyplink: #afafca;
	--syntax-markdown-code: #efefef;
	--syntax-markdown-codetype: #333;
	--syntax-markdown-title: #333;
}
    /* Dark theme */
.theme-dark .sc_edit-pre{
	background-color: #1d2129;
	color: #f8f8f2;
}
.theme-dark .sc_editwrap-numspace {
	background-color: #1d2129;
	color: #565656;
	border-color: #565656;
}
.theme-dark .sh_lines::selection{
	background: rgba(255,255,255, 0.8);
}

.theme-dark .sc_edit-pre{
	--syntax-str-const: #a6e22e;
	--syntax-key-word: #66d9ef;
	--syntax-comment: #797b7e; /*  #708090; */

	--syntax-js-number: #ae81ff;
	--syntax-js-method: #fc3;

	--syntax-xml-cdata: #fc3;

	--syntax-html-attr-name: #df5000;
	--syntax-html-attr-line: #ae81ff;
	--syntax-html-attr-value: #a6e22e;

	--syntax-css-pseudo: #9999FF;
}

/* THEME A */
.theme-a .sc_edit-pre{
	background-color: rgba(26, 19, 31, 0.9);
	color: rgb(248, 248, 242);
}
.theme-a .sc_editwrap-numspace{
	background-color: rgba(26, 19, 31, 0.9);
	color: #818186;
	border-color: #818186;
}

.theme-a .sc_edit-pre{
	--syntax-str-const: rgb(184, 255, 176);
	--syntax-key-word: rgb(102, 217, 239);
	--syntax-comment: rgb(112, 128, 144); /*  #708090; */

	--syntax-js-number: rgb(123, 204, 255);
	--syntax-js-method:  rgb(255, 245, 149);

	--syntax-xml-cdata: rgb(255, 245, 149);

	--syntax-html-attr-name: rgb(255, 153, 198);
	--syntax-html-attr-line: #fff;
		
	--syntax-html-attr-value: rgb(184, 255, 176);

	--syntax-css-pseudo: rgb(255, 153, 198);
}
.theme-a .sc_edit-pre::selection,
.theme-a .sc_edit-pre *::selection{
	background: rgba(39,170,225,.85);
	color: #fff;
}

/* THEME B */
.theme-b .sc_edit-pre{
	background-color: #fafbfc;
	color: #3b3c40;
}
.theme-b .sc_editwrap-numspace{
	background-color: #fafbfc;
	color: #ccc;
	border-color: #ccc;
}
.theme-b .sc_edit-pre{
	--syntax-str-const: #690;
	--syntax-key-word: #07a;
	--syntax-comment: #b4bbc3;

	--syntax-js-number: #905;
	--syntax-js-function: #DD4A68;
	--syntax-js-method: #DD4A68;

	--syntax-xml-cdata: #DD4A68;

	--syntax-html-attr-name: #DD4A68;
	--syntax-html-attr-line: #3b3c40;
	--syntax-html-attr-value: #690;

	--syntax-css-pseudo: rgb(255, 153, 198);
}
/* THEME C */
.theme-c .sc_edit-pre{
	background-color: #272822;
	color: #f8f8f2;
}
.theme-c .sc_editwrap-numspace{
	background-color: #272822;
	color: #616158;
	border-color: #616158;
}
.theme-c .sc_edit-pre{
	--syntax-str-const: #fff188; 
	--syntax-key-word: #c96432;
	--syntax-comment: #666; 

	--syntax-js-number: #ae81ff; 
	--syntax-js-function: #99cc32;
	--syntax-js-method: #6d9cbe;

	--syntax-xml-cdata: #f8f8f2;/*slategray*/

	--syntax-html-attr-name: #fff188;
	--syntax-html-attr-line: #99cc32;
	--syntax-html-attr-value: #fff188; 

	--syntax-css-pseudo: #fd971f;
}
/* THEME D */
.theme-d .sc_edit-pre{
	background-color: #22282a;
	color: #dfdfdf;
}
.theme-d .sc_editwrap-numspace{
	background-color: #22282a;
	color: #96969a;
	border-color: #96969a;
}
.theme-d .sc_edit-pre{
	--syntax-str-const: #ec7600; 
	--syntax-key-word: rgb(147, 199, 99);
	--syntax-comment: rgb(128, 128, 128); 

	--syntax-js-number: rgb(255, 205, 34); 
	--syntax-js-function: rgb(140, 140, 180);
	--syntax-js-method: rgb(103, 140, 177);

	--syntax-xml-cdata: rgb(153, 163, 138);

	--syntax-html-attr-name: rgb(103, 140, 177);
	--syntax-html-attr-line: #dfdfdf;
	--syntax-html-attr-value: rgb(147, 199, 99);

	--syntax-css-pseudo: rgb(153, 218, 249);
}
.theme-d .sc_edit-pre{
	border-left-color: #484852;
}
.theme-d .sc_edit-pre:focus{
	outline-color: #585858;		
}


/*
dark theme like https://toddmotto.com/all-about-angulars-emit-broadcast-on-publish-subscribing/

.highlight .gr{color:#eeeeec;background-color:#c00}

.highlight .go{color:#2c3032;background-color:#2c3032}
.highlight .kt{color:#e3e7df}
.highlight .ni{color:#888a85}


.highlight .cp,.highlight .gh,.highlight .gu,.highlight .nf{color:#E9A94B}
.highlight .m,.highlight .nb,.highlight .no,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il{color:#8ae234}
.highlight .o{color:#989DAA}


*/
/* THEME E */
.theme-e .sc_edit-pre{
	background-color: #2f3644;
	color: #C1C2C3;
}
.theme-e .sc_editwrap-numspace{
	background-color: #2f3644;
	color: #697183;
	/*color: #989DAA;*/
	border-right: none;

}
.theme-e .sc_edit-pre{
	--syntax-str-const: #a6fc5e;
	--syntax-key-word: #96cbfe;
	--syntax-comment: #707071; 


	--syntax-js-number: #ff73fd; 
	--syntax-js-function: rgb(140, 140, 180);
	--syntax-js-method: #e3e7df;

	--syntax-xml-cdata: #E9A94B;  /* #989DAA #888a85 | #dad085 #ffffb6*/

	--syntax-html-attr-name: #c4d1e1;
	--syntax-html-attr-line: #C1C2C3;
	--syntax-html-attr-value: #C1C2C3;

	--syntax-css-pseudo: #989DAA;
}
.theme-e .sc_edit-pre{
	border-left-color: #484852;
}
.theme-e .sc_edit-pre:focus{
	outline: none;	
}



/* Main styles */
.sh_js_string,
.sh_css_string {color: var(--syntax-str-const);}
.sh_js_keyword,
.sh_css_property,
.sh_html_tag {color: var(--syntax-key-word);}
.sh_js_comment,
.sh_css_comment,
.sh_html_comment {color: var(--syntax-comment);}
.sh_js_number {color: var(--syntax-js-number);}
.sh_js_method,
.sh_css_func { color: var(--syntax-js-method);}
.sh_css_hex-color,
.sh_js_func-name {color: var(--syntax-js-function);}
.sh_css_class-selector { color: var(--syntax-str-const); }	
.sh_html_attr-name	{color: var(--syntax-html-attr-name);}
.sh_html_attr-line	{color: var(--syntax-html-attr-line);}
.sh_html_attr-value	{color: var(--syntax-html-attr-value);}
.sh_css_pseudo { color: var(--syntax-css-pseudo); }
.sh_html_cdata { color: var(--syntax-xml-cdata); }


.sh_po_comment {	color: var(--syntax-comment); }
.sh_po_string {	color: var(--syntax-str-const); }
.sh_po_number { color: var(--syntax-js-number); }
.sh_markdown_hyptext { color: var(--syntax-markdown-hyptext); }
.sh_markdown_hyplink { color: var(--syntax-markdown-hyplink); }
.sh_markdown_title { font-weight: bold; font-size: 1.2em; line-height: 1em; color: var(--syntax-markdown-title);}
.sh_markdown_titlesize1 { font-size: 2.4em; margin: 0 0 0.4em 0; }
.sh_markdown_titlesize2 { font-size: 1.8em; margin: 0 0 0.4em 0; }
.sh_markdown_titlesize3 { font-size: 1.5em; margin: 0 0 0.2em 0; }
.sh_markdown_multiline-code,
.sh_markdown_text { padding: 8px; margin: 0; }
.sh_markdown_multiline-code,
.sh_markdown_text { display: block; white-space: pre-wrap; }
.sh_markdown_multiline-code,
.sh_markdown_code { background: var(--syntax-markdown-code); }
.sh_markdown_text { background: #aaa; } /* NOT MARKDOWN FEATURE*/
.sh_markdown_code { display: inline; margin: 0; }
.sh_markdown_code-type { font-weight: bold; color: var(--syntax-markdown-codetype); }


.theme-dark .sh_markdown_title,
.theme-a .sh_markdown_title,
.theme-c .sh_markdown_title,
.theme-d .sh_markdown_title{
	--syntax-markdown-title: orange;
}

.theme-dark .sh_markdown_multiline-code,
.theme-dark .sh_markdown_code,
.theme-a .sh_markdown_multiline-code,
.theme-a .sh_markdown_code,
.theme-c .sh_markdown_multiline-code,
.theme-c .sh_markdown_code,
.theme-d .sh_markdown_multiline-code,
.theme-d .sh_markdown_code{
	--syntax-markdown-code: #333;
}

.theme-dark .sh_markdown_hyptext,
.theme-a .sh_markdown_hyptext,
.theme-c .sh_markdown_hyptext,
.theme-d .sh_markdown_hyptext{
    --syntax-markdown-hyptext: #7ba9ff;
}

.theme-dark .sh_markdown_hyplink,
.theme-a .sh_markdown_hyplink,
.theme-c .sh_markdown_hyplink,
.theme-d .sh_markdown_hyplink{
    --syntax-markdown-hyplink: #4dc16c;
}

.sh-js_brackets{
	cursor: pointer;
}
.sh-js_brackets:hover,
.sh-js_brackets:active{
	background: yellow;
}

/* CodeBlock */
.sh-codeblock{
	display: inline-block;
	vertical-align: top;
	cursor: pointer;

}
.sh-codeblock:before{
	content: "...";
	pointer-events: all;
}
.sh-codeblock:hover{
	background-color: yellow;
}
/*.sh-codeblock_inner{display: none;}*/
/* If element would be hidden window.selection() can't correctly detect actual size*/
.sh-codeblock_inner{ 
	opacity: 0;
	font-size: 0;
	line-height: 0;
}



.sh-codeblock2{
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;

}
.sh-codeblock2:hover{
	background-color: yellow;
}
.sh-codeblock_inner2{ 
	opacity: 0;
}
.sh-codeblock_inner2:before{
	content: "{...}";	
	position: absolute;
	z-index: -1;
}
.sh-codeblock_inner3{ 
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}




/*.dwc_btn { display: inline-block; font-size: 14px; line-height: 20px; color: #454d55; cursor: pointer; border: 1px solid #9f9c9a; padding: 5px 20px; margin: 0; border-radius: 3px; background: -webkit-linear-gradient(#fbfbfb, #ebebeb); background: -moz-linear-gradient(#fbfbfb, #ebebeb); background: linear-gradient(#fbfbfb, #ebebeb); outline: none; height: 32px; }
.dwc_btn:hover { border-color: #2a87e2; }
.dwc_btn:active { background-color: #e8e8e8; }
.dwc_btn:disabled { opacity: 0.5; cursor: default; }
.dwc_btn:disabled:hover { border-color: #9f9c9a; }
.dwc_btn:disabled:active { background-color: #fff; }
.dwc_btn.dwc_btn-default { font-weight: bold; }
*/


.dwc_btn{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	line-height: 20px;
	cursor: pointer;
	border: none;
	padding: 5px 12px;
	transition: color .2s ease, background-color .2s ease;
	background-color: #2f3844;
	background-image: linear-gradient(to bottom,rgba(246,246,246,.1)0%,rgba(30,40,53,0)66%);
	color: #fff;
	border-radius: 4px;
}
.dwc_btn:hover,
.dwc_btn:focus{
	background-color: #1e2835;
}
.dwc_btn:hover,
.dwc_btn:active{
	outline:none;
}
.dwc_btn.__predefined{
	background-color: #fcc939;
	color: #1e2835;	
}
.dwc_btn.__predefined:hover,
.dwc_btn.__predefined:focus{
	background-color: #fdd76b;
	color: #404853;
}

.dwc_visual-input { display: inline-block; padding: 0px 1px; cursor: pointer; overflow: hidden; white-space: nowrap; font-size: 15px; line-height: 17px; min-height: 17px; text-overflow: ellipsis; width: 140px; }
.dwc_visual-input:focus { outline: 1px solid #8ac812; text-overflow: clip; }
.dwc_visual-input:after { content: attr(data-postfix); display: inline-block; margin-left: 4px; }

.dwc_visual-input.__minimal:before { content: attr(data-mes); display: inline-block; width: 110%; }
.dwc_visual-input.__minimal:focus:before { display: none; }

.dwc_popup { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2); z-index: 1000; outline: none; }
.dwc_popup .dwc_popup-wrap { min-width: 930px; white-space: nowrap; width: 100%; height: 100%; overflow-y: scroll; overflow-x: auto; text-align: center; }
.dwc_popup .dwc_popup-content { width: 830px; background: #fff; display: inline-block; vertical-align: middle; text-align: left; }
.dwc_popup .dwc_popup-content.__moveable { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.dwc_popup .dwc_popup-header { display: block; border: none; margin: 0; -webkit-user-select: none; -moz-user-select: none; user-select: none; word-wrap: break-word; white-space: normal; }
.dwc_popup .dwc_popup-header:active { cursor: move; }
.dwc_popup .dwc_popup-body { white-space: normal; }

.dec_wt-popup { background: #e7e7e7; background: rgba(204, 204, 204, 0.5); color: #454d55; }
.dec_wt-popup .dwc_popup-content { box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); width: 450px; }
.dec_wt-popup .dwc_popup-body { border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.dec_wt-popup .dwc_popup-header { padding: 10px 15px; border: 1px solid #ccc; }
.dec_wt-popup .dwc_popup-header:empty { padding: 0; border: none; }
.dec_wt-popup .dwc_btn { min-width: 100px; text-align: center; }

.dwc_uploader_label { display: inline-block; cursor: pointer; overflow: hidden; }
.dwc_uploader_label input { width: 0; overflow: hidden; font-size: 500px; }
.dwc_uploader_label .dwc_uploader_file, .dwc_uploader_label .dwc_uploader_btn { display: inline-block; vertical-align: middle; font-size: 14px; line-height: 20px; }
.dwc_uploader_label .dwc_uploader_btn { cursor: pointer; padding: 2px 0; height: auto; margin-left: 10px; min-width: 100px; }
.dwc_uploader_label .dwc_uploader_file { color: #757575; height: 26px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 1px 5px; border: 1px solid #9f9c9a; border-radius: 3px; outline: none; width: 305px; text-align: left; text-overflow: ellipsis; overflow: hidden; }
.dwc_uploader_label .dwc_uploader_file:hover { border-color: #8ac812; }

.dwc_dropdown { display: inline-block; position: relative; font-size: 15px; line-height: 18px; color: #454d55; padding: 8px 18px 8px 8px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.dwc_dropdown:after { content: ""; display: block; position: absolute; right: 4px; top: 50%; margin-top: -2px; border: 5px solid transparent; border-top-color: #454d55; border-top-width: 7px; }
.dwc_dropdown:before { content: attr(data-value); }
.dwc_dropdown .dwc_dropdown_menu { position: absolute; float: left; border: 1px solid #ccc; min-width: 100%; height: 0; opacity: 0; overflow: hidden; -webkit-transition: height 0.5s ease, opacity 0.5s ease; -moz-transition: height 0.5s ease, opacity 0.5s ease; transition: height 0.5s ease, opacity 0.5s ease; background: #fff; z-index: 100; font-weight: normal; }
.dwc_dropdown.__opened .dwc_dropdown_menu { opacity: 1; }
.dwc_dropdown.__opened:after { margin-top: -8px; border-top-color: transparent; border-top-width: 5px; border-bottom-color: #454d55; border-bottom-width: 7px; }
.dwc_dropdown .dwc_dropdown_item { white-space: nowrap; font-size: 15px; line-height: 18px; padding: 6px 12px; }
.dwc_dropdown .dwc_dropdown_item:hover { background-color: #e4eed7; }
.dwc_dropdown .dwc_dropdown_item.__current { font-weight: bold; }

.dwc_dropdown[data-mode=btn] { vertical-align: middle; font-size: 14px; line-height: 20px; color: #454d55; border: 1px solid #9f9c9a; padding: 2px 24px 2px 20px; margin: 0; border-radius: 3px; background: -webkit-linear-gradient(#fbfbfb, #ebebeb); background: -moz-linear-gradient(#fbfbfb, #ebebeb); background: linear-gradient(#fbfbfb, #ebebeb); outline: none; }
.dwc_dropdown[data-mode=btn]:after { right: 8px; }
.dwc_dropdown[data-mode=btn]:hover { border-color: #8ac812; }
.dwc_dropdown[data-mode=btn]:active { background-color: #e8e8e8; }
.dwc_dropdown[data-mode=btn]:disabled { opacity: 0.5; cursor: default; }
.dwc_dropdown[data-mode=btn]:disabled:hover { border-color: #9f9c9a; }
.dwc_dropdown[data-mode=btn]:disabled:active { background-color: #fff; }

.dwc-switcher { display: inline-block; position: relative; width: 50px; height: 18px; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
.dwc-switcher > [type=checkbox] { opacity: 0; filter: alpha(opacity=0); }
.dwc-switcher .dwc-switcher_btn { display: block; position: absolute; top: 1px; left: 1px; bottom: 1px; width: 50%; width: -webkit-calc(50% - 1px); width: -moz-calc(50% - 1px); width: calc(50% - 1px); -webkit-transition: left 0.3s ease; -moz-transition: left 0.3s ease; transition: left 0.3s ease; background: -webkit-linear-gradient(top, #DFE4E7, #C8C8C8, #CDD3D7); background: -moz-linear-gradient(top, #DFE4E7, #C8C8C8, #CDD3D7); background: -ms-linear-gradient(top, #DFE4E7, #C8C8C8, #CDD3D7); background: linear-gradient(top, #DFE4E7, #C8C8C8, #CDD3D7); }
.dwc-switcher .dwc-switcher_back { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #f2f2f2; border: 1px solid #aaa; -webkit-transition: background-color 0.3s ease; -moz-transition: background-color 0.3s ease; transition: background-color 0.3s ease; }
.dwc-switcher .dwc-switcher_btn, .dwc-switcher .dwc-switcher_back { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; cursor: pointer; border-radius: 2px; }
.dwc-switcher > [type=checkbox]:checked ~ .dwc-switcher_btn { left: 50%; }
.dwc-switcher > [type=checkbox]:checked ~ .dwc-switcher_back { border-color: #64ae00; background-color: #88ca00; }
.dwc-switcher > [type=checkbox][disabled] ~ .dwc-switcher_btn, .dwc-switcher > [type=checkbox][disabled] ~ .dwc-switcher_back { opacity: 0.5; cursor: default; }
.dwc-switcher > [type=checkbox].__error ~ .dwc-switcher_btn { left: 1px; cursor: default; }
.dwc-switcher > [type=checkbox].__error ~ .dwc-switcher_back { cursor: default; border-color: #EC7400; background-color: #f9a84d; }

[data-component=customlist], [data-component=singleline] { cursor: pointer; }

[data-component=singleline]:before { display: inline-block; content: attr(data-value); }

/* New: */
.dwc_btn-group .dwc_btn{
	margin: 0 16px 0 0;
}